{{"<!-- end Contact Area -->" | safeHTML}}
<footer id="footer" class="bg-one">
	<div class="container">
		<div class="row wow fadeInUp" data-wow-duration="500ms">
			<div class="col-xl-12">

				{{"<!-- Footer Social Links -->" | safeHTML}}
				<div class="social-icon">
					<ul class="list-inline">
						{{ range .Site.Params.footer.socialIcon }}
						<li class="list-inline-item"><a href="{{ .url }}"><i class="{{ .icon }}"></i></a></li>
						{{ end }}
					</ul>
				</div>

				{{"<!-- copyright -->" | safeHTML}}
				<div class="copyright text-center">
					<a href="{{ .Site.BaseURL | absURL }}">
						<img src="{{ .Site.Params.logoFooter | absURL }}" alt="{{ .Site.Params.companyName }}" />
					</a>
					<br>
					<p>Design And Developed by <a href="{{ .Site.Params.footer.developerURL | absURL }}"> {{ with .Site.Params.footer.developer }} {{ . }} {{ end }} </a>. Copyright &copy; <script>
							document.write(new Date().getFullYear())
						</script>. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>
{{"<!-- /footer -->" | safeHTML}}

{{ partial "footer-includes/all.html" .}}
