{{ if .Site.Params.banner.enable }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" style='background-image: url("{{ .Site.Params.banner.bgImage | absURL }}");'>
    <div class="hero-brand">
        <img class="logo-spiral" src="{{ .Site.Params.logoSpiral | absURL }}" alt="Spiral" />
        <img class="logo-text" src="{{ .Site.Params.logoText | absURL }}" alt="Natural Floorcovering Centres" />
    </div>
    <div class="hero-content">
        {{with .Site.Params.banner.content}} <p>{{ . }}</p> {{ end }}
    </div>
    <div class="hero-cta">
        <a data-scroll href="#about" class="btn">
            <i class="hero-cta-icon tf-ion-chevron-down"></i>
        </a>
    </div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
