{{ define "main" }}

    {{ partial "preloader.html" . }}

    {{ partial "hero-area.html" . }}

    {{ partial "navigation.html" . }}

    {{ $homePage := . }}
    {{ range .Site.Params.frontPage.block }}
        {{ if .root }}
            {{ partial .partial $homePage }}
        {{ else }}
            {{ partial .partial . }}
        {{ end }}
    {{ end }}

    <div style="background: red; padding: 5px" ></div>


    <section
    class="background-slice section-sm bg-1 overly"
    style="background-image: url( {{ .Site.Params.backgrounds.three | absURL }}     )">
</section>




    {{ partial "skill.html" . }}

    {{ partial "portfolio.html" . }}

    {{ partial "counter.html" . }}

    {{ partial "team.html" . }}

    {{ partial "pricing.html" . }}

    {{ partial "testimonial.html" . }}


    {{ partial "blog.html" . }}


    {{ partial "contact.html" . }}

    <div style="background: red; padding: 5px" ></div>

{{ end }}